<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Bookmarks</h1>
    <ul>
      <%@bookmarks.each do |bookmark| %>
    <li class="bookmarks">
      <a href="<%=bookmark.url%>">
        <%=bookmark.title%></a>
        <form action="/bookmarks/<%=bookmark.id%>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete">
        </form>
        <form action="/bookmarks/<%= bookmark.id%>/edit" method="get">
        <input type ="submit" value="Edit">
        </form>
        <form action="/bookmarks/<%= bookmark.id%>/comment" method="get">
        <input type="submit" value="Add Comment">
        </form>
        <%bookmark.comments.each do |comment| %>
        <p><%=comment['text']%></p>
        <%end%>
    </li>
      <%end%>
    </ul>
    <p> <%= flash[:notice] %>
    </p>
    </body>
</html>
