<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Bookmarks</h1>
    <ul>
      <%@bookmarks.each do |bookmark| %>
        <li class="bookmark">
      <a href="<%=bookmark.url%>">
        <%=bookmark.title%></a>
        <form action="/bookmarks/<%=bookmark.id%>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete">
        </form>
        <form action="/bookmarks/<%= bookmark.id%>/edit" method="get">
        <input type ="submit" value="Edit">
        </form>
        <form action="/bookmarks/<%= bookmark.id%>/comment" method="get">
        <input type="submit" value="Add Comment">
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="Add Tag" />
      </form>
      <div>
        <h2>Comments</h2>
        <ul>
          <% bookmark.comments.each do |comment| %>
            <li><%=comment['text']%></li>
          <% end %>
        </ul>
      </div>
      <div>
        <h2>Tags</h2>
        <ul>
          <% bookmark.tags.each do |tag| %>
            <li><%= tag.content %></li>
          <% end %>
        </ul>
      </div>
    </li>
    </ul>
      <%end%>
    <p> <%= flash[:notice] %>
    </p>
    </body>
</html>
